* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

div.container {
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    width: 800px;
    height: 800px;
}

.square {
    border-top: 1px solid black;
    border-left: 1px solid black;
    min-height: 50px;
    min-width: 50px;
    flex: 1 1 auto;
}

.hover {
    background-color: #7fffd4;
}